body {
  background-color: antiquewhite;
}

.jumbotron {
  background-image: url("../images/spices.jpg");
  background-size: cover;
}

.jumboh1 {
  font-size: 50px;
  font-weight: bold;
  color: springgreen;
}

.jumboh3 {
  color: yellow;
  font-weight: bold;
}

#formDiv {
  width: 75%;
}