body {
  background-color: antiquewhite;
}

.jumbotron {
  background-image: url("../images/beans.jpg");
  background-size: cover;
}

.jumboh1 {
  color: red;
  font-size: 50px;
  font-weight: bold;
}

.jumboh3 {
  color: green;
  font-weight: bold;
}

#formDiv {
  width: 75%;
}